* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}


/* Start of CSS */

/* start Header and Navbar */
header {

  display: flex;
  padding: 2vh;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(115, 1, 128);
  padding: 1% 10% 1% 0px;
}

h1 {
  color: #F4EEFF;
  background-color: #9EAFFF;
  padding-left: 5vh;
  padding-right: 1vh;
}


nav a {
  color: #F4EEFF;
  margin: 20px;
  text-decoration: none;
  border-bottom: 2px solid #F4EEFF;
  font-size: larger;
}

nav a:hover {
  color: #9EAFFF;
}

/* end Header and Navbar */

/* start hero banner */

.hero-banner div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-image: linear-gradient(to right, #9EAFFF, #9EAFFF, #F4EEFF);
}

section img {
  width: 10vw;
}

.hero-banner h2 {
  color: rgb(115, 1, 128);
  margin-right: 10vw;
  margin-bottom: 3vh;
  padding: 0.2%;
  background-image: linear-gradient(to right, #9EAFFF, #F4EEFF);
}

/* end hero banner */

/* start about me  */

#about, #contact, #work {
  display: flex;
  align-items: center;
  margin-top: 5vh;
}

#about h2, #work h2, #contact h2 {
  color: #9EAFFF;
  font-size: 5vh;
  text-align: right;
  padding: 0vw 1vw 4vh 1vw;
  border-right: solid 4px #9EAFFF;
  width: 20vw;
}


#about p, #contact_details, .work_main {
  width: 90%;
  padding-left: 2vw;
  padding-right: 20vw;
  word-wrap: break-word;
}

#about p, #contact p  {
  color: #9EAFFF;
  font-size: 20px;
}

#contact p {

  border-bottom: 2px solid #9EAFFF;
}

/* end about me  */

/* start work  */


.work_main {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat (2, 1fr);
  grid-template-rows: repeat (3, 1fr);
  grid-template-areas:  
  "link_one link_one"
  "link_two link_three"
  "link_four link_five"
  ;
}

.gridstyle {
  border:solid 4px #9EAFFF;
  background-size:cover; /* I decided to use this as I think it looks better to show more of the webpage, although I understand this is not used in the example (hopefully not an issue as I was told we can style it how we like */
}

#link_one {
  
  grid-area: link_one;
  background-image: url("../images/project1.PNG");
  height: 40vh;
}

#link_two {
  grid-area: link_two;
  background-image: url("../images/02-portfolio-2.jpg");
  height: 20vh;
}

#link_three {
  grid-area: link_three;
  background-image: url("../images/02-portfolio-3.jpg");
  height: 20vh;
 }

#link_four {
  grid-area: link_four;
  background-image: url("../images/02-portfolio-4.jpg");
  height: 20vh;
}

#link_five {
  grid-area: link_five;
  background-image: url("../images/02-run-buddy.jpg");
  height: 20vh;
}

.imagelink {
  display: flex;
  align-items: flex-start;
  height: 100%;
  width:  100%;
  z-index: 1;
}

.work_text {
  color: #F4EEFF;
  padding: 1%;
  background-color: #9EAFFF;
  width: max-content;
  margin-top: -85px;
}





/* end work  */

/* start contact details  */



#contact_details {
  display: flex;
  align-content: center;
  justify-content: space-evenly;

  
}

/* end contact details  */
